# Web Parsing & Data Manipulation
beautifulsoup4==4.12.3
pandas==2.2.2
requests

# LangChain Ecosystem
langchain
langchain-core
langchain-text-splitters
langchain-community
langchain-openai
langchain-huggingface
langchain-chroma
langchain-classic

# Vector DB & Search Algorithms
chromadb
sentence-transformers
rank_bm25

# Evaluation
ragas
datasets